<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/home-privado" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"  />
		<intercept-url pattern="/empleados/**" access="hasRole('ROLE_ADMIN')"  />
		<intercept-url pattern="/ingresos/**" access="hasRole('ROLE_USER')"  />
		<access-denied-handler error-page="/accessDenied"/>
		<form-login default-target-url="/home-privado"/>
	</http>
	
	<authentication-manager>  
      <authentication-provider>  
        <user-service>  
        	<user name="admin" password="{noop}123" authorities="ROLE_ADMIN" />
        	<user name="gquiroz" password="{noop}123" authorities="ROLE_USER" />  
        </user-service>  
      </authentication-provider>  
    </authentication-manager> 

</beans:beans>